body {
    background-image: url("../../image/backgroundimg.webp");
}


.navbar {

    /* background-color: #1d1d20; */
    display:flex;
    justify-content: space-between;
    padding: 2vh;
}

.name {
   
    width: 40px;
    margin: 0 0 0 50px;
    padding: 3vw
    
}

.images {
    height: 25px;
    padding: 3vw;
}

@media (min-width: 601px){

    body {
        background-image: url("../../image/backgroundimg.webp");
    }
    
    
    .navbar {
    
        /* background-color: #1d1d20; */
        display:flex;
        justify-content: space-between;
        padding: 2vh;
    }
    
    .name {
       
        height: 40px;
        width: 40px;
        margin: 0 0 0 50px;
        
    }
    
    .images {
        height: 25px;
        padding: 2vw;
    }
}