.divFatherNavbar {
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}

.lucas{
    font-size: 20px;
    -webkit-user-select: none; /* Safari and Chrome */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    letter-spacing: 1px;
}

.portfolio{
    font-size: 50px;
    -webkit-user-select: none; /* Safari and Chrome */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    letter-spacing: 3px;
}

.links{
    display: flex;
}

.icons{
    margin-left: 40px;
    align-self: center;
}

a{
    color:#CCCCCC;
    text-decoration: none;
    position:relative;  
}

a:after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: #CCCCCC;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.3s ease-in-out;
}

a:hover:after{
    width: 100%;
}